:host {
  min-height: 1px;
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  min-height: 1px;
  height: 100%;
  display: flex;
  flex-direction: row;
  
  #widgets-sidebar-region {
    width: 50%;
    border-left: 1px solid rgb(189, 189, 189);
    overflow: auto;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    #header-widgets-region {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      padding: 24px 24px 0 24px;
    }
    #content-widgets-region {
      flex: 1;
      min-height: 1px;
      height: 100%;
      padding: 24px;
    }
  }
}

@media (max-width: 1439px) {
  :host {
    min-height: 100vh;
  }
  .wrapper {
    flex-direction: column-reverse;
    gap: 24px;
    #widgets-sidebar-region {
      max-width: 100%;
      width: auto;
      border-left: none;
      overflow: unset;
      padding-inline: 24px;
      padding-top: 24px;
    }
    .content {
      gap: 24px;
      padding-inline: 24px;
      #header-widgets-region {
        padding: unset;
      }
      #content-widgets-region {
        height: 70vh;
        flex: none;
        padding: unset;
      }
    }
  }
}